WEB.PORT=8080
CORS.ALLOW_ORIGINS=*
CORS.ALLOW_METHODS=GET,POST,PUT,DELETE,OPTIONS
CORS.ALLOW_HEADERS=Origin,Authorization,Access-Control-Allow-Origin,Access-Control-Allow-Headers,Content-Type,X-Language-key
CORS.EXPOSE_HEADERS=Origin,Access-Control-Allow-Origin,Access-Control-Allow-Headers,Content-Type
CORS.ALLOW_CREDENTIALS=true
SERVER_NAME=lotusmiles
SENTRY_DSN=<replace-your-dsn>

# Database configuration
DATABASE.URL=postgres://aegismiles:@localhost:5432/aegismiles?sslmode=disable
DATABASE.MAX_OPEN_CONNS=100
DATABASE.MAX_IDLE_CONNS=10

AUTH0.DOMAIN=<replace-your-domain>
AUTH0.CLIENT_ID=<replace-your-client-id>
AUTH0.CLIENT_SECRET=<replace-your-client-secret>
AUTH0.AUDIENCE=<replace-your-audience>

USER_API.DOMAIN=<replace-your-domain>
USER_API.CLIENT_ID=<replace-your-client-id>
USER_API.CLIENT_SECRET=<replace-your-client-secret>
USER_API.AUDIENCE=<replace-your-client-domain>
USER_API.TOKEN_URL=<replace-your-token-url/oauth/token>

# SessionM API configuration
SESSION_M.API_BASE_URL=<replace-your-domain>
SESSION_M.APP_KEY=<string>
SESSION_M.SECRET=<string>
SESSION_M.RETAILER_ID=ECA4EA23-6CD8-4FE8-AC31-675251B6D7A3
SESSION_M.INCENTIVES_API_URL=<replace-your-domain>
SESSION_M.INCENTIVES_APP_KEY=<string>
SESSION_M.INCENTIVES_SECRET=<string>
SESSION_M.POINT_SOURCE_ID=<uuid>
SESSION_M.POINT_ACCOUNT_ID=<uuid>
SESSION_M.TIER_SYSTEM_ID=<uuid>

