WEB.PORT=8080
CORS.ALLOW_ORIGINS=*
CORS.ALLOW_METHODS=GET,POST,PUT,DELETE,OPTIONS
CORS.ALLOW_HEADERS=Origin,Authorization,Access-Control-Allow-Origin,Access-Control-Allow-Headers,Content-Type,X-Language-key
CORS.EXPOSE_HEADERS=Origin,Access-Control-Allow-Origin,Access-Control-Allow-Headers,Content-Type
CORS.ALLOW_CREDENTIALS=true

# Database configuration
DATABASE.URL=postgres://aegismiles:@localhost:5432/aegismiles?sslmode=disable
DATABASE.MAX_OPEN_CONNS=100
DATABASE.MAX_IDLE_CONNS=10

AUTH0.DOMAIN=<replace-your-domain>
AUTH0.CLIENT_ID=<replace-your-client-id>
AUTH0.CLIENT_SECRET=<replace-your-client-secret>
AUTH0.AUDIENCE=<replace-your-audience>

USER_API.DOMAIN=<replace-your-domain>
USER_API.CLIENT_ID=<replace-your-client-id>
USER_API.CLIENT_SECRET=<replace-your-client-secret>
USER_API.AUDIENCE=<replace-your-client-domain>
USER_API.TOKEN_URL=<replace-your-token-url/oauth/token>

# Cron job configuration
CRON.EXPIRE_QMILES=@hourly
CRON.RECALC_TIER=@hourly
CRON.TIMEZONE=Asia/Ho_Chi_Minh

# Loyalty system configuration
LOYALTY.EXPIRE_PERIOD_MINUTES=60
LOYALTY.ROLLING_WINDOW_PERIOD_MINUTES=60
LOYALTY.BATCH_SIZE=100
LOYALTY.JOB_TIMEOUT_MINUTES=30
LOYALTY.RECALC_JOB_TIMEOUT_MINUTES=60

# SessionM API configuration
SESSION_M.API_BASE_URL=https://api-apacpartners.stg-sessionm.com/priv/v1/apps/28335ade7cb87dad8777cb9d87b4a4783b53ce62
SESSION_M.APP_KEY=28335ade7cb87dad8777cb9d87b4a4783b53ce62
SESSION_M.SECRET=98688d359b586c4de5ff8350253d60a245522b6
SESSION_M.RETAILER_ID=ECA4EA23-6CD8-4FE8-AC31-675251B6D7A3
SESSION_M.POINT_SOURCE_ID=425836cd-58e6-41b9-9816-22b987ea392f
SESSION_M.POINT_ACCOUNT_ID=<replace-your-award-points-id>
SESSION_M.INCENTIVES_API_URL=https://domains-apacpartners.stg-sessionm.com/incentives/api/2.0
SESSION_M.INCENTIVES_AUTH=U2Vzc2lvbk1TaGFyZWQ6MXd1TWtJTmxIaVl4b1ZwalAxV1Z6RmxEM2t5SllSY3o=
